doctype html
head
	title lobby
	include ./include/defaultScripts.jade

body
	ul#rooms
		each room in rooms
			li 
				a(href='room/#{room.id}') #{room.id}
	

	form(action='room', method='post')
		button newRoom
		
